<div class="container">
  <div>
    <mat-toolbar>
      <mat-icon>chat</mat-icon>
      <span>
        GPT
      </span>
    </mat-toolbar>
  </div>

  <div class="chat-container" #chatContainerElement>
    <app-conversation [messages]="messages">
    </app-conversation>
  </div>

  @if (isLoading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }

  @if (!isLoading) {
    <div class="controls-container">
      <div class="flexgrow1">
        <mat-form-field class="width100">
          <mat-label>Seu texto</mat-label>
          <input matInput type="text" [(ngModel)]="clientInput" #clientInputElement
                  (keyup.enter)="sendMessage(clientInput)">
          @if (clientInput) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clientInput=''">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div>
        <button mat-fab extended class="enviar-control" [disabled]="!clientInput" (click)="sendMessage(clientInput)">
          <mat-icon>arrow_upward</mat-icon>
          Enviar
        </button>
      </div>
    </div>
  }

</div>